<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
	<title>Minneapolis Happy Hour</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="http://momentjs.com/downloads/moment.js"></script>
	<script src="https://smtpjs.com/v2/smtp.js"></script>
	<script src="/js/home_clicks.js"></script>
	<script src="/js/add_clicks.js"></script>
	<script src="/js/search_clicks.js"></script>
	<script src="/js/restaurant_clicks.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

	<header class=" header justify-content-between">
		<div class="container">
			<div class="row ">
				<p class="align-middle font-weight-light">Logged in as :
					<span class="align-middle" id="signedInUser"></span>
				</p>
				<span class="align-middle" id="logOut">LOG OUT</span>
			</div>
		</div>

	</header>
	<div class="container mx-auto">
		{{{ body }}}

	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	 crossorigin="anonymous"></script>
</body>


</html>