<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
	<title>Minneapolis Happy Hour</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://momentjs.com/downloads/moment.js"></script>
	<script src="https://smtpjs.com/v2/smtp.js"></script>
	<script src="/js/home_clicks.js"></script>
	<script src="/js/add_clicks.js"></script>
	<script src="/js/search_clicks.js"></script>
	<script src="/js/restaurant_clicks.js"></script>
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">


	</script>




</head>

<body>
	<header class="page-header font-small pt-2">
		<div class="container">
			<div class="row mx-auto logOutRow">
				<p class="font-weight-light">Currently logged in as:
					<span id="signedInUser"></span>
				</p>
				<p>... </p>
				<span id="logOut">LOG OUT</span>
			</div>
		</div>
	</header <div class="container mx-auto">
	{{{ body }}}
	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	 crossorigin="anonymous"></script>
</body>


</html>