<div class="searchForm">
    <form>
            <img src="./images/tipsy.jpg" class="log">

        <div class="form-group mb-2">
            <label class="mr-1">Restaurant: </label>
            
            <select id="existingRestaurants">
                
                {{#each restaurants}}
                <option class="restaurant" id="chosenRest" value="{{id}}">{{restaurant_name}}</option>
                {{/each}}
            </select>
            
        </div>
        <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#userSignIn"><i class="material-icons">restaurant_menu</i>
            Add a new restaurant...
        </button>

        <!-- Modal for adding a new restaurant-->
        <div class="modal fade" id="addRestaurant" tabindex="-1" role="dialog" aria-labelledby="newRest" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newRest">Add a new restaurant or bar!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="newRestName">Name of Establishment</label>
                                <input type="text" class="form-control" id="newRestName" placeholder="Ex. 'Grumpy's">
                            </div>
                            <div class="form-group">
                                <label for="newRestDescr">Description</label>
                                <input type="text" class="form-control" id="newRestDescr" placeholder="What's the place like?">
                            </div>
                            <div class="form-group">
                                <label for="newRestPhone">Phone Number</label>
                                <input type="text" class="form-control" id="newRestPhone" placeholder="10-digit phone number">
                            </div>
                            <div class="form-group">
                                <label for="newRestWeb">Website</label>
                                <input type="text" class="form-control" id="newRestWeb" placeholder="www.beer.com">
                            </div>
                            <div class="form-group">
                                <label for="newRestAddress">Address</label>
                                <input type="text" class="form-control" id="newRestAddress" placeholder="1000 Beer Way, Minneapolis, MN 55408">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                        <button type="button" id="addRest" class="btn btn-add" data-dismiss="modal">Add</button>
                    </div>
                </div>
            </div>
        </div>

        {{!-- BACK TO THE DEAL FORM --}}
        <hr>
        <div class="form-row">
            <label for="newDealDesc">Describe the deal</label>
            <input type="text" class="form-control" id="newDealDesc" placeholder="Ex. $2 off all taps!">
        </div>
        <br>
        <div class="form-row"><b>What day of the week is the deal?</b>
            <br>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" id="day1" type="checkbox" value="Monday">Monday
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" id="day2" type="checkbox" value="Tuesday">Tuesday
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" id="day3" type="checkbox" value="Wednesday">Wednesday
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" id="day4" type="checkbox" value="Thursday">Thursday
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" id="day5" type="checkbox" value="Friday">Friday
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" id="day6" type="checkbox" value="Saturday">Saturday
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" id="day7" type="checkbox" value="Sunday">Sunday
                </label>
            </div>
        </div>

        <div class="form-row">
            <label for="dropdown">When does the happy hour start??</label>
            <select id="newDealStart" class="form-control">
                <option value="10">10:00 AM</option>
                <option value="10.5">10:30 AM</option>
                <option value="11">11:00 AM</option>
                <option value="11.5">11:30 AM</option>
                <option value="12">12:00 PM</option>
                <option value="12.5">12:30 PM</option>
                <option value="13">1:00 PM</option>
                <option value="13.5">1:30 PM</option>
                <option value="14">2:00 PM</option>
                <option value="14.5">2:30 PM</option>
                <option value="15">3:00 PM</option>
                <option value="15.5">3:30 PM</option>
                <option value="16">4:00 PM</option>
                <option value="16.5">4:30 PM</option>
                <option value="17">5:00 PM</option>
                <option value="17.5">5:30 PM</option>
                <option value="18">6:00 PM</option>
                <option value="18.5">6:30 PM</option>
                <option value="19">7:00 PM</option>
                <option value="19.5">7:30 PM</option>
                <option value="20">8:00 PM</option>
                <option value="20.5">8:30 PM</option>
                <option value="21">9:00 PM</option>
                <option value="21.5">9:30 PM</option>
                <option value="22">10:00 PM</option>
                <option value="22.5">10:30 PM</option>
                <option value="23">11:00 PM</option>
                <option value="23.5">11:30 PM</option>
                <option value="24">12:00 AM</option>
                <option value="24.5">12:30 AM</option>
                <option value="25">1:00 AM</option>
                <option value="25.5">1:30 AM</option>
                <option value="26">2:00 AM</option>
            </select>
        </div>
        <div class="form-row">
            <label for="dropdown">When does the happy hour end?</label>
            <select id="newDealEnd" class="form-control">
                <option value="10">10:00 AM</option>
                <option value="10.5">10:30 AM</option>
                <option value="11">11:00 AM</option>
                <option value="11.5">11:30 AM</option>
                <option value="12">12:00 PM</option>
                <option value="12.5">12:30 PM</option>
                <option value="13">1:00 PM</option>
                <option value="13.5">1:30 PM</option>
                <option value="14">2:00 PM</option>
                <option value="14.5">2:30 PM</option>
                <option value="15">3:00 PM</option>
                <option value="15.5">3:30 PM</option>
                <option value="16">4:00 PM</option>
                <option value="16.5">4:30 PM</option>
                <option value="17">5:00 PM</option>
                <option value="17.5">5:30 PM</option>
                <option value="18">6:00 PM</option>
                <option value="18.5">6:30 PM</option>
                <option value="19">7:00 PM</option>
                <option value="19.5">7:30 PM</option>
                <option value="20">8:00 PM</option>
                <option value="20.5">8:30 PM</option>
                <option value="21">9:00 PM</option>
                <option value="21.5">9:30 PM</option>
                <option value="22">10:00 PM</option>
                <option value="22.5">10:30 PM</option>
                <option value="23">11:00 PM</option>
                <option value="23.5">11:30 PM</option>
                <option value="24">12:00 AM</option>
                <option value="24.5">12:30 AM</option>
                <option value="25">1:00 AM</option>
                <option value="25.5">1:30 AM</option>
                <option value="26">2:00 AM</option>
            </select>
        </div>
        <div class="form-group">
            <label> Deal Type </label>
            <select id="newDealType">
                <option>Drink</option>
                <option>Food</option>
                <option>Both</option>
            </select>
        </div>
        <div class="form-row">
            <label for="newDealRestrictions">Any restrictions?</label>
            <input type="text" class="form-control" id="newDealRestrictions" placeholder="Ex. No coupons/groupons/etc.">
        </div>
              <button type="submit" class="btn btn-outline-dark" data-toggle="modal" data-target="#userSignIn"><i class="material-icons">restaurant_menu</i>
                Submit
                </button>
        {{!-- <button type="Submit" id="submitBtnDeal" class="btn btn-primary btn-lg">Submit</button> --}}
    </form>
</div>