<div class="jumbotron">
  
  {{!-- <div class="display-4">Tipsy Twin Cities</div> --}}
<img src="./images/tipsy.jpg" id="logo">

  <div class="intro">Trying to find a happy hour in the Twin Cities used to be difficult. We want a good deal, but at what cost? Now, we can
    do what Minnesotans do best and come together. Add a happy hour, verify the accuracy of the deals posted, and comment
    on the bars themselves! Is the beer bad? Is the food worth it? Let your neighbors know.
  </div>
  
  <div class="row text-center">
    <div class="findHH col-md-6 mb-2">
      <a href="/search">
        <b class="homeLinks">Find Happy Hours Now</b>
      </a>
    </div>
    <div class="addHH col-md-6 mb-2">
      <a href="/add">
        <b class="homeLinks">Add a Deal or Restaurant</b>
      </a>
    </div>
  </div>
  <hr>
  <div class="row text-center mx-auto">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <p> Already a user?</p>
      {{!-- SIGN IN BUTTON --}}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#userSignIn"><i class="material-icons">account_circle</i>
        Sign In
      </button>

      <!-- Modal -->
      <div class="modal fade" id="userSignIn" tabindex="-1" role="dialog" aria-labelledby="userSignInTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="userSignInTitle">Sign In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="emailAddress">Email address</label>
                  <input type="email" class="form-control" id="emailAddress" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="pw">Password</label>
                  <input type="password" class="form-control" id="pw" placeholder="Password">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-signIn">Sign In<i class="material-icons">restaurant_menu</i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <p>New user?</p>
      {{!-- SIGN UP BUTTON --}}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#userSignUp">
      <i class="material-icons">account_circle</i>Sign Up
      </button>

      <!-- Modal -->
      <div class="modal fade" id="userSignUp" tabindex="-1" role="dialog" aria-labelledby="userSignUpTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="userSignUpTitle">Sign Up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
                </div>
                <br>
                <div class="form-group">
                  <label for="userName">User Name</label>
                  <input type="text" class="form-control" id="userName" placeholder="Choose User Name that will display on your comments...">
                </div>
                <br>
                <div class="form-group">
                  <label for="emailAddressNew">Email address</label>
                  <input type="email" class="form-control" id="emailAddressNew" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="pwNew">Password</label>
                  <input type="password" class="form-control" id="pwNew" placeholder="Password">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-signUp" data-dismiss="modal">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>