<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="dropdown">Time</label>
                <select id="inputState" class="form-control">
                                <option selected>00:00</option>
                                <option selected>01:00</option>
                                <option selected>02:00</option>
                                <option selected>03:00</option>
                                <option selected>04:00</option>
                                <option selected>05:00</option>
                                <option selected>06:00</option>
                                <option selected>07:00</option>
                                <option selected>08:00</option>
                                <option selected>09:00</option>
                                <option selected>10:00</option>
                                <option selected>11:00</option>
                                <option selected>12:00</option>
                     </select>
            </div>
            <div class="form-group col-md-4">
                <label for="dropdown">Dropdown Menu</label>
                <select id="inputState" class="form-control">
                            <option selected>Food</option>
                            <option selected>Drink</option>
                            <option>Both</option>
                          </select>
            </div>

        </div>


        <title>Cameron Bar &amp; Grill Menu | Brunch, Lunch, Dinner, Desserts, Drinks</title>

        <button type="Submit" class="btn btn-primary btn-lg">Submit</button>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>