<head>	<script src="js/verification.js"></script> </head>
<div class="jumbotron">
    <img src="./images/tipsy.jpg" class="log">
    <br>
    <b>Thanks for verifying your account!
    <br>
    <br>
    <br>
    We want to make sure our members are real people leaving real comments & we appreciate your contributions.
    <br>
    <br>
    <br>
    Cheers!
    <br>
    -Tipsy Twin Cities</b>
</div>