<div>
    Thanks for verifying your account!
    <br>
    We want to make sure our members are real people leaving real comments & we appreciate your contributions.
    <br>
    Cheers!
    <br>
    -Tipsy Twin Cities
</div>