/* Background image on all pages */
body {
    background-image: url(../images/wild_oliva.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    color: #c4cadc;
}
button{
    cursor: pointer;
}

/* Logo Image formatting */
.logo{
    background-image: url(../images/croppedLogoLarge.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 150px;
}

.searchLabel{
    font-size: 1.25rem;
}

/* card bg color */
.card{
    background-color: #060f54;
    opacity: .85;
}
/* all buttons same colors */
.btn{
    background-color:  none;
    color:#f1a961;
    border: solid thin #f1a961;
}
.btn:hover {
    background-color:#f1a961;
    color: #060f54;
}
/* HOME PAGE STYLING */
.jumbotron{
    padding: 40px;
    color: #c4cadc;
    opacity: .85; 
    text-align: center;
    background-color: #060f54;
    border-radius: 20px;
    margin: 20px;
}
.display-4 {
    text-align: center;
    padding: 20px;
}
.intro {
    padding: 30px;
    font-size: 1.2rem;
}
.findHH {
    text-align: center;
}
.btn-user {
    background: grey;
    color: #f1a961;
}
a {
    color: #f1a961;
    text-decoration-style: none;
}
a:hover {
    color: grey;
    text-decoration-line: none;
}
.homeLinks {
    font-size: 2em
}
/* SEARCH PAGE FORMATTING */
.h4 {
    text-align: center;
}
.searchForm {
    background-color: #060f54;
    border-radius: 20px;
    padding: 20px;
    opacity: .85;
    margin: 50px 30px 30px 30px;
}
/* ADD PAGE FORMATTING */
.form-check-label {
    margin: 10px;
    padding-left: 0;
}
.form-row {
    margin-bottom: 15px;
}
.form-check{
    font-size: 1rem;
}

.form-check-label{
    padding: 10px;
}
label {
    font-weight: bold;
}

/* MODAL FORMATTING */
.modal-content{
    background-color: #c4cadc;
    color: #060f54;
    text-align: left;
}

/* HEADER STYLING*/
.page-header{
    background: #f1a961;
    width: 100%;
    color: rgba(112, 76, 34, 0.61);
    opacity: .8;
    height: 30px;
}
#logOut{
    cursor: pointer;
}
#logOut:hover{
    color: blanchedalmond
}
.logOutRow{
    text-align: center;
}
/* map styling */
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

/* material icon styling */
.material-icons{
    display: block;
}

#phone{
    display: inline;
}

.dealInfo{
    background-color: #060f54;
    color: #c4cadc;
    font-weight: 600;
}

.dealHead{
    background-color: #c4cadc;
    color: #060f54;
}

.reviews{
    height: 50px;
    margin: 20px 0px 20px 0px;
}

/* MEDIA QUERIES */
@media (max-width: 980px){
    /* Home Page */
    .jumbotron{
        margin: 5px;
        padding: 5px;
    }
    .intro{
        font-size:2.5rem;
    }
    .mainLinks{
        font-size: 1.5rem;
        display: block;
        position: relative;
        left: 25%;
    }
    .signLinks{
        font-size: 2.5rem;
        display: block;
        position: relative;
        left: 25%;
    }
    .btn{
        font-size: 50px;
        margin: 20px;
        border: thick solid #f1a961;
    }
    .material-icons{
        display: none;
    }
    .page-header{
        height: 80px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    /* Logo */
    .logo{
        background-image: url(../images/largeLogo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        height: 500px;
    }
    /* Search Page */
    .h4{
        font-size: 2.5rem;
    }
    .form-group{
        display: block;
        position: relative;
        margin: 20px;
        font-size: 3rem;
    }
    .searchLabel{
        font-size: 2.25rem;
    }
    .select{
        height: 100px;
    }
    /* Add Page */
    .form-row{
        font-size: 3rem;
        margin-bottom: 10px;
        padding: 20px;
    }
    .form-control{
        font-size: 2rem;
        margin: 5px;
        padding: 5px;
    }
    .form-check{
        font-size: 1.5rem;
    }
    select{
        font-size: 2rem;
    }
}