
body{
    background-image: url("https://image.freepik.com/free-photo/wooden-planks-with-blurred-restaurant-background_1253-56.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    background-color: antiquewhite
}

.btn{
    background-color:  none;
    color:rgba(112, 76, 34, 0.877);
}

.btn:hover{
    background-color:rgba(112, 76, 34, 0.61);
    color: blanchedalmond ;
    

}
.container {
    background-color: green;
}
.display-4 {
    color: red;
    text-align: center;

}
.lead {
    text-align: center;
    color: black;
}
#jumbo {
    background-color:darkgray;
}
#find {
    background-color: darkviolet;
}
#button {
    float: right;
}
.check {
    background-color:grey;
}
#test {
    background-color: indianred;
}
#content {
    background-color: greenyellow;
}
#page {
    min-height: 100vh;
}
/* body {
    background-color: blue;
} */

